{% extends 'base.html.twig' %}

{% block title %}Hello HelloController!
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}


{% block body %}
     <div class="container" id='js-counter'>
                <h1>Counter</h1>

                <div class="row">
                
                        <div class="col-12 rounded">
                            <br>
                            <div>
                                
                                Students: {* counter *} + professors {* professors *} = sum

                            </div>
                    </div>

                </div>
            </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
